<app-navigation></app-navigation>
<div class="home container-fluid">
  <div class="overlay">
    <section class="her-wrap js-fullheight " data-section="home" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
          data-scrollax-parent="true">
          <div class="content col-md-6">
            <div class="subh">
              <span class="subheading" style="font-weight: 700;">Welcome to MedMonitor Hospital</span>
              <h1 class="mb-4">Your Health, <br/>Our Commitment.</h1>
              <figure class="text-start">
                <blockquote class="blockquote">
                  <p style="font-weight: 500;">“Take care of your body. It’s the only place you have to live.”</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  Jim Rohn.
                </figcaption>
              </figure>
              
              <figure class="text-start">
                <blockquote class="blockquote">
                  <p>
                   <b>Contact Us: </b>
                  </p>
                  <p>
                    <a href="mailto:fardinahmed.jim.7@gmail.com, aaminaamey123@gmail.com?subject=MedMonitor Hospital">
                      <i class="fas fa-envelope fs-2 text-danger"></i>
                    </a>
                    <a
                      class="mx-2"
                      href="https://www.linkedin.com/in/fardin-ahmed-jim-7594ba209/"
                      target="_blank">
                      <i class="fab fa-linkedin fs-2 text-danger"></i>
                    </a>
                  </p>
                </blockquote>
                <!-- <figcaption class="blockquote-footer"> <b>CSE499</b></figcaption> -->
              </figure>
              <p class="mb-4"> </p>
              <p><a [routerLink]="['appointment']" class="btn btn-primary py-3 px-4 rounded-pill" style="background-color: #00246B;">Make an appointment</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  
</div>

<!-- HOME 2.0 | HOME 2.0 | HOME 2.0 | HOME 2.0 -->   
<app-home2></app-home2>