<div class="header">
    <a class="logo px-2" href="../index.html">
      MedMonitor Hospital
    </a>
</div>

<app-navigation></app-navigation>

<h1 class="h1 mt-5" style="font-weight: 700; text-align: center; font-size: 6rem; background-color: #404041; color: #F6EDE3;">About Us</h1>

    <head>
        <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">

        <style>
            .u-section-1 {
                background-color: #80C4B7;
                font-weight: 500;
            }

            .u-section-1 .u-text-2 {
            margin: 4px 0 0;
            }

            .u-section-1 .u-text-3 {
            margin: 24px 0 0;
            }

            .u-section-1 .u-text-4 {
            margin: 24px 0 15px;
            }

            @media (max-width: 575px) {
                .u-section-1 .u-sheet-1 {
                    min-height: 10vh;
                }

                .u-section-1 .u-text-1 {
                    font-size: 3.75rem;
                }
            } 
            
            .u-section-2 {
            background-color: #EDCBD2;
            font-weight: 500;
            }

            .u-section-2 .u-sheet-1 {
            min-height: 20vh;
            }

            .u-section-3 {
            background-color: #E3856B;
            font-weight: 500;
            }

            .u-section-3 .u-sheet-1 {
            min-height: 20vh;
            }

        </style>
    </head>



    <body>
        
        <section class="u-align-center u-clearfix u-image u-shading u-section-1">
            <div class="u-clearfix u-sheet u-sheet-1" style="background-color: #fff; margin: 24px 0 12px;">
                <hr style="border-top: 8px double; color: #00246B;">
                <p class="u-large-text u-text u-text-default u-text-variant u-text-2">Welcome to the forefront of MedMonitor Hospital System Initiative. We are a dynamic and visionary team of healthcare professionals, blockchain experts, and technology enthusiasts dedicated to revolutionizing the landscape of patient information management.</p>
                <hr style="border-top: 8px double; color: #00246B;">
            </div>
        </section>

        <section class="u-align-center u-clearfix u-image u-shading u-section-1">

            <div>
                <p class="u-large-text u-text u-text-default u-text-variant u-text-3">
                    <u style="font-weight: 800; text-decoration-thickness: 3px;">Our Mission:</u><br>At the heart of our mission lies the commitment to empower individuals and healthcare providers with a secure, transparent, and patient-centric approach to managing electronic health records. We envision a future where patient data is no longer fragmented across disparate systems but seamlessly integrated and securely accessible when and where it's needed most.
                </p>

                <p class="u-large-text u-text u-text-default u-text-variant u-text-4">
                    <u style="font-weight: 800; text-decoration-thickness: 3px;">What We Do:</u><br>Our initiative spearheads the development and implementation of a cutting-edge EHR system underpinned by blockchain technology. By harnessing the potential of decentralized and tamper-proof ledgers, we are reshaping how health data is stored, shared, and utilized. Our solution ensures data integrity, patient privacy, and interoperability, fostering a new era of collaborative and efficient healthcare.
                </p>
            </div>

        </section>

        <section class="u-align-center u-clearfix u-image u-shading u-section-2">
            <div class="u-clearfix u-sheet u-sheet-1">
                <p class="u-large-text u-text u-text-variant u-text-1">
                    <u style="font-weight: 800; text-decoration-thickness: 3px;">Why Blockchain:</u><br>Blockchain's inherent characteristics align perfectly with the demands of healthcare data. Through immutable records and cryptographic security, we address the vulnerabilities of traditional EHR systems. Our approach not only facilitates medical information exchange among care providers but also empowers patients to control who accesses their data, enhancing trust and transparency in the healthcare ecosystem.
        
                </p>
                <p class="u-large-text u-text u-text-variant u-text-2">
                    <u style="font-weight: 800; text-decoration-thickness: 3px;">Our Expertise:</u><br>Our team comprises experts from diverse backgrounds, blending deep-rooted medical knowledge with cutting-edge blockchain proficiency. This synergy enables us to bridge the gap between healthcare intricacies and technological advancements seamlessly. We meticulously study industry standards, engage in iterative development, and collaborate with stakeholders to create sustainable and impactful solutions.
        
                </p>
            </div>
        </section>
        <section class="u-align-center u-clearfix u-image u-shading u-section-3">
            <div class="u-clearfix u-sheet u-sheet-1">
                <p class="u-large-text u-text u-text-variant u-text-3">
                    <u style="font-weight: 800; text-decoration-thickness: 3px;">Our Vision:</u><br>We envision a world where healthcare professionals can make informed decisions promptly, patients have ownership over their health data, and data breaches are minimized. By championing data privacy, security, and accessibility, we aim to transform healthcare into a patient-centric, technologically advanced domain where innovation thrives for the betterment of all.
                </p>

                <p class="u-large-text u-text u-text-default u-text-variant u-text-1">
                    <u style="font-weight: 800; text-decoration-thickness: 3px;">Join Us:</u><br>
                    We invite healthcare organizations, blockchain enthusiasts, regulatory bodies, and individuals passionate about shaping the future of healthcare to join hands with us. Together, we can drive the adoption of blockchain-based EHR systems, redefining healthcare data management for a healthier, more connected tomorrow.<br>
                    <br>
                    Experience the future of healthcare data with us - the Blockchain-Based EHR System Initiative.<br>
                </p>
            </div>
        </section>
        <footer>
            <div class="u-clearfix u-sheet u-sheet-1">
                <p class="u-small-text u-text u-text-variant u-text-1" style="text-align: center; font-weight: 700; color: #00246B;"><u style="text-decoration-thickness: 2px;">All rights reserved by @Fardin&amp;Amee-NSU2023</u></p>
            </div>
        </footer>
    </body>







<!-- Original Context!!!!!! -->
<!-- <h1 class="h1 mt-5" style="font-weight: 3000; text-align: center;">About us</h1>
<p>
    Welcome to the forefront of healthcare data innovation - the Blockchain-Based Electronic Health Record (EHR) System Initiative. We are a dynamic and visionary team of healthcare professionals, blockchain experts, and technology enthusiasts dedicated to revolutionizing the landscape of patient information management.
</p>

<p>
    Our Mission: <br>
    At the heart of our mission lies the commitment to empower individuals and healthcare providers with a secure, transparent, and patient-centric approach to managing electronic health records. We envision a future where patient data is no longer fragmented across disparate systems but seamlessly integrated and securely accessible when and where it's needed most.
</p>

<p>
    What We Do: <br>
    Our initiative spearheads the development and implementation of a cutting-edge EHR system underpinned by blockchain technology. By harnessing the potential of decentralized and tamper-proof ledgers, we are reshaping how health data is stored, shared, and utilized. Our solution ensures data integrity, patient privacy, and interoperability, fostering a new era of collaborative and efficient healthcare.
</p>

<p>
    Why Blockchain: <br>
    Blockchain's inherent characteristics align perfectly with the demands of healthcare data. Through immutable records and cryptographic security, we address the vulnerabilities of traditional EHR systems. Our approach not only facilitates medical information exchange among care providers but also empowers patients to control who accesses their data, enhancing trust and transparency in the healthcare ecosystem.
</p>

<p>
    Our Expertise: <br>
    Our team comprises experts from diverse backgrounds, blending deep-rooted medical knowledge with cutting-edge blockchain proficiency. This synergy enables us to bridge the gap between healthcare intricacies and technological advancements seamlessly. We meticulously study industry standards, engage in iterative development, and collaborate with stakeholders to create sustainable and impactful solutions.
</p>

<p>
    Our Vision: <br>
    We envision a world where healthcare professionals can make informed decisions promptly, patients have ownership over their health data, and data breaches are minimized. By championing data privacy, security, and accessibility, we aim to transform healthcare into a patient-centric, technologically advanced domain where innovation thrives for the betterment of all.
</p>

<p>
    Join Us: <br>
    We invite healthcare organizations, blockchain enthusiasts, regulatory bodies, and individuals passionate about shaping the future of healthcare to join hands with us. Together, we can drive the adoption of blockchain-based EHR systems, redefining healthcare data management for a healthier, more connected tomorrow.
    <br>
    Experience the future of healthcare data with us - the Blockchain-Based EHR System Initiative.
</p> -->